@import "../variables.scss";
.details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  &-image {
    margin: 10px 10px 10px 10px;
  height:auto;
  width: auto;
  }
  &-row {
    display: flex;
    flex-direction: column;
    &-title {
      font-family: "Oswald", sans-serif;
      padding-left: 5px;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-weight: 800;
    }
    &-text {
      font-family: "Oswald", sans-serif;
      font-size: 19px;
      padding-top: 5px;
      padding-left: 5px;
      border-top: 1px solid $mainBlue;
      &-alt {
        font-family: "Oswald", sans-serif;
        font-size: 21px;
        padding-top: 5px;
        padding-left: 5px;
        border-top: 1px solid $mainBlue;
        font-weight: 600;
      }
    }
  }
  &-button {
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background: $mainBlue;
    border: none;
    color: white;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: none;
      background: $mainYellow;
      color: $mainWhite;
    }
  }
}
@media (max-width: 480px) {
  .details-container{
    display: flex;
    flex-direction: column;
  }
}