@import "../variables.scss";
.profile-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $mainBlue;
  }
  &-row {
    width: 50%;
    display: flex;
    flex-direction: column;
    &-left {
      width: 50%;
      padding-left: 10px;
      margin-right: 10px;
      border-left: 1px solid $mainBlue;
      border-right: 1px solid $mainBlue;
    }
  }
}
.profile-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  &-left {
    font-size: 20px;
    text-decoration: none;
    color: $mainBlue;
  }
  &-right {
    font-size: 20px;
    text-decoration: none;
    color: $mainYellow;
  }
}

@media (max-width: 768px) {
  .profile-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-left {
      font-size: 15px;
      text-decoration: none;
      color: $mainBlue;
    }
    &-right {
      font-size: 15px;
      text-decoration: none;
      color: $mainYellow;
    }
  }
}
@media (max-width: 480px) {
  .profile-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-left {
      font-size: 11px;
      text-decoration: none;
      color: $mainBlue;
    }
    &-right {
      font-size: 11px;
      text-decoration: none;
      color: $mainYellow;
    }
  }
}
