@import "../variables.scss";
.product-list-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  &-left {
    color: $mainBlue;
  }
  &-right {
    color: $mainYellow;
  }
}

.product-list-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 604px) {
  .product-list-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
