@import "../variables.scss";
.product-list-container {
  width: 100%;
  padding-left:55px;
  padding-right: 55px;
}
.product-list-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  &-left {
    color: $mainBlue;
  }
  &-right {
    color: $mainYellow;
  }
}
