@import "../variables.scss";
.cart-title {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.3rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  &-left {
    color: $mainBlue;
  }
  &-right {
    color: $mainYellow;
  }
}
.cart-link {
  text-decoration: none;
  color: $mainDark;
  font-size: medium;
  &:hover {
    text-decoration: none;
    color: $mainBlue;
    font-size: medium;
  }
}
