@import "../variables.scss";
.login {
  &-title {
    color: $mainBlue;
  }
  &-button {
    border-radius: 4px;
    border: none;
    padding: 5px 5px 5px 5px;
    color: white;
    background-color: $mainBlue;
    &:hover {
      background-color: $mainYellow;
      color: white;
      font-size: medium;
    }
  }
  &-link {
    text-decoration: none;
    color: $mainBlue;
    font-size: medium;
    &:hover {
      text-decoration: none;
      color: $mainYellow;
      font-size: medium;
    }
  }
}
