@import "../variables.scss";
.navbar {
  &-container {
    background-color: $mainBlue;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    &-left {
      display: flex;
      flex-direction: row;
      align-self: center;
      justify-content: flex-start;
      height: 50px;
    }
    &-right {
      height: 50px;
      align-self: center;
    }
  }
  &-item {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $mainYellow;
    }
  }
  &-link {
    text-decoration: none;
    color: $mainWhite;
    font-size: medium;
    width: 100%;
    &:hover {
      text-decoration: none;
      color: $mainWhite;
      font-size: medium;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
